/*

Preserves orignal formatting

 */

/* comment before rule */
body/* comment after rule name */{
    /* comment before decl */
    padding /*  comment after prop */ : /*  comment before val */ 0 /*  comment after val */ 3px /* another comment */ 2px /* one more */ 1px /* last one*/;
    /* comment after decl */

    margin:
        0 /*top*/
        3px /*right*/
        2px /*bottom*/
        1px /*left*/
}

/* comment after rule  */

/* should not process urls - default */
@import url("rtl-right-east.css");

.demo-next, .demo-Next, .demo-NEXT { content: 'p'; }
.demo-prev, .demo-Prev, .demo-PREV { content: 'n'; }


div {
  text-align: left;
  padding: 10px;
}
.sample {
    text-align: left;
}
