/*

Preserves orignal formatting

 */

/*rtl:begin:options:{"preserveComments": true}*/

/* comment before rule */
body/* comment after rule name */{
	/* comment before decl */
	padding /*  comment after prop */ : /*  comment before val */ 0 /*  comment after val */ 1px 2px 3px;
	/* comment after decl */
}

/* comment after rule  */

/* should not process urls - default */
@import url("rtl-right-east.css");

/*rtl:end:options*/

/*rtl:begin:options:
{
  "autoRename": true,
  "stringMap":[
    {
      "name"    : "prev-next",
      "search"  : ["prev", "Prev", "PREV"],
      "replace" : ["next", "Next", "NEXT"],
      "options" : {"ignoreCase":false}
    }]
}
*/

.demo-prev, .demo-Prev, .demo-PREV { content: 'p'; }
.demo-next, .demo-Next, .demo-NEXT { content: 'n'; }

/*rtl:end:options*/


div {
  /*rtl:remove*/
  direction: rtl;
  text-align: right;
  padding: 10px;
}

/*rtl:begin:ignore*/
.sample {
    text-align: left;
}
/*rtl:end:ignore*/
